# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt 4 files
moc_*

# OS X files
.DS_Store
._*

# Windows files
Thumbs.db
